<app-navbar></app-navbar>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <img *ngFor="let foto of listaFoto" src="{{foto.file}}" height="200px" alt="Immagine lotto">
      <button class="btn" (click)="aggiungiAiPreferiti()"><i class="bi bi-heart"></i></button>
    </div>
    <div class="col">
      <div class="text-center fw-bold border p-3">
        <p class="m-0">Si chiude in: </p>
        <app-timer [opera]="opera" (timerScaduto)="timerScaduto(opera!)"></app-timer>
        <p *ngIf="opera?.statoLotto == 'SCADUTO'">Lotto Scaduto</p>
      </div>

      <div class="my-3" *ngIf="opera">
        <h3>{{opera.titolo}}</h3>
        <p>Descrizione: {{opera.descrizione}}</p>
        <p>Autore: {{opera.autore.nome}} {{opera.autore.cognome}}</p>
        <p>Anno: {{opera.anno}}</p>
        <p>Tipo: {{opera.tipo | capitalcase}}</p>
        <p>Tecnica: {{opera.tecnica | capitalcase}}</p>
        <p>Condizioni: {{opera.condizioni | capitalcase}}</p>
        <p>Altezza: {{opera.altezza}} cm</p>
        <p>Lunghezza: {{opera.lunghezza}} cm</p>
        <p>Larghezza: {{opera.larghezza}} cm</p>
        <p>Peso: {{opera.peso}} kg</p>
      </div>
    </div>
    <div>
      <form #formOfferta="ngForm" *ngIf="this.utente?.id != this.opera?.autore?.id">
        <div class="form-group mb-3">
          <label for="offerta">Fai un'offerta</label>
          <input name="offerta" type="text" class="form-control" id="offerta" placeholder="€" required ngModel>
        </div>
        <p>{{errore}}</p>
        <button type="submit" (click)="confermaOfferta(formOfferta)" [disabled]="formOfferta.invalid" class="btn btn-warning rounded-5 px-5">Conferma</button>
      </form>
    </div>
    <div>
      <h3>Lista offerte</h3>
      <div *ngFor="let offerta of listaOfferte">
        <p>{{offerta.data}} - {{offerta.utente.nome}} {{offerta.utente.cognome}} - €{{offerta.offerta}}</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
