#imgPrincipale {
  width: 250px;
}

.icona {
  color: #484847;
}

.icona-like {
  color: #ad1f1f;
}

.modalImg {
  cursor: zoom-in;
}

#sticky {
  position: sticky;
  top: 30px;
  bottom: 0;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #timer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    z-index: 1000;
    width: 100vw;
  }
}

@media screen and (max-width: 992px) {
  #sticky {
    position: static;
  }
}

@media screen and (min-width: 576px) {
  #imgPrincipale {
    width: 350px;
  }
}

@media screen and (min-width: 992px) {
  #imgPrincipale {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  #imgPrincipale {
    width: 400px;
  }
}

@media screen and (min-width: 1400px) {
  #imgPrincipale {
    width: 500px;
  }
}
