<div class="px-5">
  <h3 class="mb-5">Spedizione</h3>

  <div class="row">
    <div class="col-12 col-md-6 order-2 order-md-1">
      <form #formSpedizione="ngForm">
        <div class="form-group mb-3">
          <label for="tipo">Spedizioniere</label>
          <select class="form-select" aria-label="Spese Spedizione">
            <option value="Poste Italiane">Poste Italiane</option>
            <option value="Altro spedizioniere">Altro spedizioniere</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="dimensioni">Dimensioni</label>
          <div class="input-group">
            <span class="input-group-text">cm</span>
            <input name="lunghezza" type="number" class="form-control" id="lunghezza" placeholder="Lunghezza" aria-label="Lunghezza" min="0.1" required ngModel>
            <input name="altezza" type="number" class="form-control" id="altezza" placeholder="Altezza" aria-label="Altezza" min="0.1" required ngModel>
            <input name="larghezza" type="number" class="form-control" id="larghezza" placeholder="Larghezza" aria-label="Larghezza" min="0.1" required ngModel>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="minimo">Peso</label>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="peso">kg</span>
            <input name="peso" type="number" class="form-control" id="peso" placeholder="2" aria-label="peso" aria-describedby="peso" min="0.1" required ngModel>
          </div>
        </div>

        <button type="submit" (click)="aggiornaDatiLotto(formSpedizione)" [disabled]="formSpedizione.invalid" class="btn btn-warning rounded-0 px-5 my-4">Conferma</button>
      </form>
    </div>

    <div class="col-12 col-md-6 text-center order-1 order-md-2 mb-5">
      <span class="position-absolute translate-middle badge bg-giallino rounded-circle text-dark" style="font-size: 20px;">
        <i class="bi bi-info-circle"></i>
      </span>
      <div class="bg-giallino p-4">
        <p class="m-0">Indica lo spedizioniere che utilizzerai per la spedizione e tutte le informazioni (dimensioni e peso precisi) sul pacco da spedire.</p>
      </div>
    </div>
  </div>


</div>
