<app-navbar></app-navbar>

<section class="text-white">
  <video src="../../../assets/img/ultimo.mp4" autoplay loop muted></video>
  <div class="intro p-5 m-4">
    <h1>ART FOR<br>EVERY<span>ONE</span><br>EVERY<span>WHERE</span></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      <br>Quo sed ipsam dolores suscipit?
      <br>Voluptate porro maxime quaerat incidunt nulla dolorum quo aperiam quia.
      <br>Qui, harum suscipit. Provident aliquid aut doloribus?</p>
  </div>
</section>
<div class="altro p-5">
  <div class="container text-center p-5">
    <h3>LOREM</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo sed ipsam dolores suscipit? Voluptate porro maxime quaerat incidunt nulla dolorum quo aperiam quia. Qui, harum suscipit. Provident aliquid aut doloribus?</p>
  </div>
</div>

<div class="custom-shape-divider-bottom-1680181813">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path fill="#edc168" d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>

<div style="height: 300px;"></div>

<div id="onda-due" class="custom-shape-divider-bottom-1680181813">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path fill="#edc168" d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>

<app-footer></app-footer>
