<app-navbar></app-navbar>

<section class="text-white">
  <video src="../../../assets/img/video-home.mp4" autoplay loop muted></video>
  <div class="intro p-5 m-4">
    <h1>ART FOR<br>EVERY<span>ONE</span><br>EVERY<span>WHERE</span></h1>
    <p>Entra in un mondo di arte e bellezza con la nostra piattaforma online.
      <br>Scopri le gemme nascoste di artisti emergenti e immergiti nelle loro accattivanti opere d'arte.
      <br>Con il nostro sistema facile da usare, puoi fare offerte per le tue opere d'arte preferite,
      <br>senza dover lasciare la comodità di casa tua!</p>
  </div>
</section>
<div class="altro p-5">
  <div class="container text-center pt-5">
    <h3 class=""><i class="bi bi-pin-map"></i><br>MISSION</h3>
    <p class="m-0" style="font-size: 20px;">Crediamo che l'arte debba essere accessibile a tutti, indipendentemente da dove ti trovi nel mondo.
      <br>Ecco perché abbiamo creato un sistema sicuro e facile da usare per unire in un unico posto
      <br>il talento degli artisti emergenti e la passione per l'arte degli acquirenti e consentire a questi ultimi di partecipare alle aste d'arte
      <br>senza dover viaggiare o cercare eventi nella propria zona.
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#edc168" fill-opacity="1" d="M0,0L720,224L1440,64L1440,0L720,0L0,0Z"></path></svg>

<div class="container text-center my-5">
  <h3>ASTE RECENTI</h3>

  <div class="row justify-content-center my-5">
    <div class="col-12 col-md-4 col-lg-3 card lotto p-3 m-3" *ngFor="let lotto of listaUltimeOpere" [routerLink]="['/dettagli-lotto', lotto.id]">
      <img src="{{lotto.foto[0].file ? lotto.foto[0].file : '../../../../../assets/img/logo.png'}}" class="card-img-top" alt="Immagine lotto">
      <div class="card-body text-start py-2 px-4">
        <div class="d-flex justify-content-between align-items-baseline">
          <h5 class="card-title">{{lotto.titolo}}</h5>
          <i class="bi bi-caret-right"></i>
        </div>
        <p class="card-text">Autore: {{lotto.autore.nome}} {{lotto.autore.cognome}}</p>
        <p class="card-text m-0">Anno: {{lotto.anno}}</p>
        <p class="card-text">Scadenza: {{lotto.scadenzaTimer | date: 'yyyy-MM-dd HH:mm'}}</p>
      </div>
    </div>
  </div>

  <a class="btn-categoria" [routerLink]="['/lista-lotti']">Mostra tutto</a>
</div>

<div class="container-fluid my-5 immagine-fixed"></div>

<div class="container text-center my-5">
  <h3>ASTE IN SCADENZA</h3>

  <div class="row justify-content-center my-5">
    <div class="col-12 col-md-4 col-lg-3 card lotto p-3 m-3" *ngFor="let lotto of listaOpereInScadenza" [routerLink]="['/dettagli-lotto', lotto.id]">
      <span *ngIf="convertiInDate(lotto.scadenzaTimer) > oggi && convertiInDate(lotto.scadenzaTimer) < traUnOra" class="position-absolute  end-0 badge rounded-0" style="background-color: #DBA23E; top: 30px;">
        IN SCADENZA
      </span>
      <img src="{{lotto.foto[0].file ? lotto.foto[0].file : '../../../../../assets/img/logo.png'}}" class="card-img-top" alt="Immagine lotto">
      <div class="card-body text-start py-2 px-4">
        <div class="d-flex justify-content-between align-items-baseline">
          <h5 class="card-title">{{lotto.titolo}}</h5>
          <i class="bi bi-caret-right"></i>
        </div>
        <p class="card-text">Autore: {{lotto.autore.nome}} {{lotto.autore.cognome}}</p>
        <p class="card-text m-0">Anno: {{lotto.anno}}</p>
        <p class="card-text">Scadenza: {{lotto.scadenzaTimer | date: 'yyyy-MM-dd HH:mm'}}</p>
      </div>
    </div>
  </div>

  <a class="btn-categoria" [routerLink]="['/lista-lotti']">Mostra tutto</a>
</div>

<div class="container-fluid my-5 immagine-fixed"></div>

<div class="container text-center my-5">
  <div class="container text-center mb-5">
    <h3>PERCHÈ VENDERE DA NOI?</h3>

    <div class="row">
      <div class="col-12 col-md-6 my-5">
        <p><i class="bi bi-box-arrow-in-right"></i></p>
        <h5>Pubblica le tue opere gratis</h5>
        <p>Puoi vendere all'asta tutte le opere che vuoi gratuitamente.<br>Paghi soltanto una piccola commissione quando l'oggetto viene venduto.</p>
      </div>

      <div class="col-12 col-md-6 my-5">
        <p><i class="bi bi-globe-americas"></i></p>
        <h5>Raggiungi tutto il mondo</h5>
        <p>Con noi puoi raggiungere acquirenti appassionati da tutto il mondo.<br>Inizia a vendere oggi stesso e unisciti alla nostra Community.</p>
      </div>
    </div>

    <a class="btn-categoria d-inline-block mb-5" [routerLink]="['/aggiungi-lotto']" title="Vai ad aggiungi lotto">Vendi</a>
  </div>

  <div>
    <h3>PERCHÈ COMPRARE DA NOI?</h3>

    <div class="row">
      <div class="col-12 col-md-6 my-5">
        <p><i class="bi bi-house-door"></i></p>
        <h5>Comodo sul tuo divano</h5>
        <p>Comodamente da casa tua puoi sfogliare le nostre categorie,<br>scegliere un'opera proveniente da qualsiasi parte del mondo e iniziare l'avventura!</p>
      </div>

      <div class="col-12 col-md-6 my-5">
        <p><i class="bi bi-easel"></i></p>
        <h5>Opere selezionate</h5>
        <p>Le opere che trovate sul nostro sito sono esaminate dai nostri esperti,<br>che hanno anni di esperienza e conoscienze in questo campo.</p>
      </div>
    </div>

    <a class="btn-categoria d-inline-block" [routerLink]="['/lista-lotti']">Compra</a>
  </div>
</div>

<svg id="spigolo-due" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#484847" fill-opacity="1" d="M0,0L720,224L1440,64L1440,0L720,0L0,0Z"></path></svg>

<app-footer></app-footer>
