<div class="px-5">
  <div *ngIf="!confermato">
    <h3 class="mb-5">Riepilogo</h3>

    <p>Tipo: {{opera?.tipo | capitalcase}}</p>
    <p>Descrizione: {{opera?.descrizione}}</p>
    <p>Autore: {{utente?.nome}} {{utente?.cognome}}</p>
    <p>Tecnica: {{opera?.tecnica | capitalcase}}</p>
    <p>Condizioni: {{opera?.condizioni | capitalcase}}</p>
    <p>Anno: {{opera?.anno}}</p>
    <p>Altezza: {{opera?.altezza}} cm</p>
    <p>Lunghezza: {{opera?.lunghezza}} cm</p>
    <p>Larghezza: {{opera?.larghezza}} cm</p>
    <p>Peso: {{opera?.peso}} kg</p>
    <p>Stima Prezzo: €{{opera?.stimaPrezzo}}</p>
    <p>Prezzo minimo: €{{opera?.prezzoMinimo}}</p>

    <button type="submit" (click)="inviaDati()" class="btn btn-warning rounded-5 px-5">Conferma</button>
  </div>

  <div *ngIf="confermato">
    <p>Dati inviati con successo! Un esperto controllerà la tua opera prima di caricarla sul sito.</p>

    <p>Torna alla <a [routerLink]="['/lista-lotti']" title="Lista lotti">lista lotti</a></p>
  </div>
</div>
