<app-navbar></app-navbar>

<div class="container my-5">
  <div class="container-fluid flex-column flex-sm-row d-flex justify-content-between align-items-center">
    <h1>Aste</h1>

    <div class="input-group w-50">
      <span class="input-group-text" id="ricerca"><i class="bi bi-search"></i></span>
      <input type="text" name="ricerca" class="form-control" placeholder="Cerca per titolo opera, artista..." aria-label="ricerca" aria-describedby="ricerca" [(ngModel)]="termineRicerca" (input)="filtrareOpere()">
    </div>
  </div>
  <hr>

  <div class="container text-center my-5">
    <button class="btn-categoria m-3" (click)="getLotti()">TUTTI</button>
    <button class="btn-categoria m-3" (click)="cercaDipinti()">DIPINTI</button>
    <button class="btn-categoria m-3" (click)="cercaDisegni()">DISEGNI</button>
    <button class="btn-categoria m-3" (click)="cercaFotografie()">FOTOGRAFIE</button>
    <button class="btn-categoria m-3" (click)="cercaSculture()">SCULTURE</button>
    <button class="btn-categoria m-3" (click)="cercaFumetti()">FUMETTI</button>
  </div>

  <div class="row justify-content-center">
    <div class="col d-flex flex-column align-items-center" *ngIf="listaOpere.length < 1">
      <p>Non sono presenti lotti.</p>
      <hr class="w-25">
      <p>Vuoi pubblicarne uno?</p>
      <p>Vai nella sezione <a class="a-link" [routerLink]="['/aggiungi-lotto']">Vendi</a> e inizia l'avventura!</p>
    </div>
    <div class="col-12 col-md-4 col-lg-3 card lotto p-3 m-3" *ngFor="let lotto of listaOpere | paginate: {itemsPerPage: 9, currentPage: paginaCorrente}" [routerLink]="['/dettagli-lotto', lotto.id]">
      <img src="{{lotto.foto[0].file ? lotto.foto[0].file : '../../../../../assets/img/logo.png'}}" class="card-img-top" alt="Immagine lotto">
      <div class="card-body py-2 px-4">
        <div class="d-flex justify-content-between align-items-baseline">
          <h5 class="card-title">{{lotto.titolo}}</h5>
          <i class="bi bi-caret-right"></i>
        </div>
        <p class="card-text">Autore: {{lotto.autore.nome}} {{lotto.autore.cognome}}</p>
        <p class="card-text m-0">Anno: {{lotto.anno}}</p>
        <p class="card-text">Scadenza: {{lotto.scadenzaTimer | date: 'yyyy-MM-dd HH:mm'}}</p>
      </div>
    </div>
  </div>

  <div class="text-center my-5">
    <pagination-controls (pageChange)="paginaCorrente = $event"></pagination-controls>
  </div>
</div>

<app-footer *ngIf="listaOpere.length > 1"></app-footer>

<div *ngIf="listaOpere.length < 1" class="container-fluid position-fixed bottom-0 m-0 p-0">
  <app-footer></app-footer>
</div>
