.notifica {
  color: #ffffff;
  background-color: #484847;
  cursor: pointer;

  &:hover {
    background-color: #cecece;
  }
}

#pallino {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #DBA23E;
}

.notifica-visualizzata {
  color: #484847;
  background-color: #ffffff;
}
