<div class="px-5">
  <ngx-dropzone class="px-5" (change)="onSelect($event)">
    <ngx-dropzone-label>Trascina le immagini oppure clicca</ngx-dropzone-label>
    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>({{ f.name }})</ngx-dropzone-label>
    </ngx-dropzone-image-preview>
  </ngx-dropzone>

  <p>{{errore}}</p>

  <div>
    <button class="btn btn-warning rounded-5 px-5 my-3" (click)="aggiornaDatiLotto()">Conferma</button>
  </div>
</div>
