.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
}

/* CSS per evidenziare la sezione di drop quando si sta trascinando l'immagine */
.dropzone.dragover {
  border-color: #000;
}
