<app-navbar></app-navbar>

<div class="container p-5">
  <div>
    <h1>Profilo Utente</h1>

    <div>
      <img class="img-thumbnail rounded-circle" src="{{utente?.foto || '../../../../../assets/img/utente.png'}}" alt="Immagine profilo {{utente?.nome}} {{utente?.cognome}}" height="200px" width="200px"/>
      <button class="btn btn-warning rounded-pill" (click)="modifica()">Modifica</button>
    </div>

    <div *ngIf="modificaDati" class="px-5">
      <ngx-dropzone class="px-5" (change)="onSelect($event)">
        <ngx-dropzone-label>Trascina le immagini oppure clicca</ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label class="text-dark">({{ f.name }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>

      <p>{{errore}}</p>

      <div>
        <button class="btn btn-secondary rounded-pill" (click)="annulla()">Annulla</button>
        <button class="btn btn-warning rounded-5 px-5 my-3" (click)="aggiornaFotoUtente()">Conferma</button>
      </div>
    </div>

    <p>Nome: {{utente?.nome}}</p>
    <p>Cognome: {{utente?.cognome}}</p>
    <p>Username: {{utente?.username}}</p>
    <p>Email: {{utente?.email}}</p>
    <p>Bio: {{utente?.bio || 'da compilare'}}</p>

    <h5>Dati spedizione</h5>
    <p>Via: {{utente?.via || 'da compilare'}}</p>
    <p>Cap: {{utente?.cap || 'da compilare'}}</p>
    <p>Città: {{utente?.citta || 'da compilare'}}</p>
    <p>Stato: {{utente?.stato || 'da compilare'}}</p>

    <button class="btn btn-warning rounded-pill" (click)="modifica()">Modifica</button>
  </div>

  <div>
    <!-- <h2>Preferiti</h2> -->

    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg-3 card m-3" *ngFor="let preferito of preferiti" [routerLink]="['/dettagli-lotto', preferito.id]">
          <img src="https://cdn.shopify.com/s/files/1/0608/0194/1757/products/20220507_170948_5ceab8dd-c390-4b15-aa22-6eafad3d306b.jpg?v=1659132817" class="card-img-top" alt="Immagine lotto">
          <div class="card-body">
            <h5 class="card-title">{{preferito?.titolo}}</h5>
            <p class="card-text">Autore: {{preferito?.autore?.nome}} {{preferito?.autore?.cognome}}</p>
            <p class="card-text">Anno: {{preferito?.anno}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
