<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profilo-utente', userId]" routerLinkActive="active">Profilo utente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lista-lotti']" routerLinkActive="active">Lista lotti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/aggiungi-lotto']" routerLinkActive="active">Aggiungi lotto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/richieste-lotti']" routerLinkActive="active">Richieste lotti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/notifiche']" routerLinkActive="active">Notifiche</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

