<app-navbar></app-navbar>

<!-- Modale per zoom foto -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let foto of listaFoto">
          <img class="mb-2 img-fluid" src="{{foto.file}}" alt="Immagine lotto">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-5" *ngIf="notifica">
  <h1>Notifica</h1>
  <hr>

  <div class="bg-giallino p-4" *ngIf="isAdmin && notifica.opera.statoLotto !== 'IN_ATTESA'">
    <p class="fw-bold m-0">Lotto {{notifica.opera.statoLotto | capitalcase}}</p>
  </div>

  <div class="container px-5">
    <p class="mt-5">{{notifica.messaggio}}</p>

    <div *ngIf="!isAdmin && notifica.messaggioAdmin">
      <small class="text-secondary">Messaggio Admin</small>
      <p>{{notifica.messaggioAdmin}}</p>
    </div>
    <div class="text-center my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <img class="my-3 me-3" *ngFor="let foto of listaFoto" src="{{foto.file}}" height="350px" alt="Immagine lotto">
    </div>

    <table class="table table-striped my-5">
      <thead>
        <h5 class="fw-bold mb-3">Dettagli</h5>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Tipo</th>
          <td class="text-end">{{notifica.opera.tipo | capitalcase}}</td>
        </tr>
        <tr>
          <th scope="row">Titolo</th>
          <td class="text-end">{{notifica.opera.titolo}}</td>
        </tr>
        <tr>
          <th scope="row">Autore</th>
          <td class="text-end">{{notifica.opera.autore.nome}} {{notifica.opera.autore.cognome}}</td>
        </tr>
        <tr>
          <th scope="row">Tecnica</th>
          <td class="text-end">{{notifica.opera.tecnica | capitalcase}}</td>
        </tr>
        <tr>
          <th scope="row">Condizioni</th>
          <td class="text-end">{{notifica.opera.condizioni | capitalcase}}</td>
        </tr>
        <tr>
          <th scope="row">Anno</th>
          <td class="text-end">{{notifica.opera.anno}}</td>
        </tr>
      </tbody>
    </table>

    <div class="bg-giallino p-4 mb-5">
      <p class="fw-bold mb-2">Descrizione</p>
      <p class="m-0">{{notifica.opera.descrizione}}</p>
    </div>

    <table class="table table-striped my-5">
      <thead>
        <h5 class="fw-bold mb-3">Spedizione</h5>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Altezza</th>
          <td class="text-end">{{notifica.opera.altezza}} cm</td>
        </tr>
        <tr>
          <th scope="row">Lunghezza</th>
          <td class="text-end">{{notifica.opera.lunghezza}} cm</td>
        </tr>
        <tr>
          <th scope="row">Larghezza</th>
          <td class="text-end">{{notifica.opera.larghezza}} cm</td>
        </tr>
        <tr>
          <th scope="row">Peso</th>
          <td class="text-end">{{notifica.opera.peso}} kg</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-striped my-5">
      <thead>
        <h5 class="fw-bold mb-3">Valore</h5>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Stima Prezzo</th>
          <td class="text-end">€{{notifica.opera.stimaPrezzo}}</td>
        </tr>
        <tr>
          <th scope="row">Prezzo minimo</th>
          <td class="text-end">€{{notifica.opera.prezzoMinimo}}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="isAdmin && notifica.opera.statoLotto === 'IN_ATTESA'">
      <form #formMessaggio="ngForm">
        <div class="form-group mb-3">
          <textarea class="form-control" placeholder="Aggiungi qualche appunto e/o consiglio per l'utente" id="messaggioAdmin" name="messaggioAdmin" rows="5" cols="3" maxlength="400" ngModel></textarea>
        </div>
      </form>

      <div class="btn-group">
        <button type="submit" (click)="confermaLotto(notifica.opera, formMessaggio)" class="btn btn-warning rounded-0 px-5 me-3">Conferma</button>
        <button type="submit" (click)="rifiutaLotto(notifica.opera, formMessaggio)" class="btn btn-secondary rounded-0 px-5">Rifiuta</button>
      </div>
    </div>
  </div>
</div>
