<app-navbar></app-navbar>

<div class="container my-5">
  <h1>Aste</h1>
  <hr class="mb-5">

  <div class="bg-giallino rounded-4 shadow p-5">
    <div *ngFor="let opera of listaOpere | paginate: {itemsPerPage: 9, currentPage: paginaCorrente}"
      class="card rounded-0 border-0 mb-3">
      <div class="row g-0">
        <div class="col-12 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
          <img src="{{opera.foto[0].file}}" class="img-fluid" alt="Immagine lotto">
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-9 col-xxl-10 d-flex flex-column">
          <div class="card-body">
            <h5 class="card-title">{{opera.titolo}}</h5>
            <p class="m-0">Autore: {{opera.autore.nome}} {{opera.autore.cognome}}</p>
            <p class="m-0">Descrizione: {{opera.descrizione.length > 100 ? opera.descrizione.slice(0, 100) + '...' :
              opera.descrizione}}</p>
            <p class="m-0">Tipo: {{opera.tipo | capitalcase}}</p>
            <p class="m-0">Tecnica: {{opera.tecnica | capitalcase}}</p>
            <p class="m-0">Anno: {{opera.anno}}</p>
            <p class="mb-1">Stato: {{opera.statoLotto | capitalcase}}</p>
          </div>
          <div class="text-end px-1 pb-1">
            <a *ngIf="opera.statoLotto == 'APPROVATO'" class="btn btn-warning rounded-0"
              [routerLink]="['/dettagli-lotto', opera.id]">Mostra</a>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="listaOpere.length == 0">
      <p>Non hai aggiunto nessun lotto.</p>
      <p>Vai nella sezione <a class="a-link2" routerLink="/aggiungi-lotto" title="Vai ad aggiungi lotto">'Vendi'</a> per
        pubblicare la tua prima opera!</p>
    </div>

    <div class="text-center my-5">
      <pagination-controls (pageChange)="paginaCorrente = $event"></pagination-controls>
    </div>
  </div>
</div>

<div class="container-fluid position-fixed bottom-0 m-0 p-0" *ngIf="listaOpere.length == 0">
  <app-footer></app-footer>
</div>

<app-footer *ngIf="listaOpere.length > 0"></app-footer>
