<app-navbar></app-navbar>

<div class="container my-5" style="min-height: 600px;">
  <h1>Aste</h1>
  <hr class="mb-5">
  <div class="bg-giallino shadow p-5">
    <!-- <div *ngFor="let opera of listaOpere | paginate: {itemsPerPage: 9, currentPage: paginaCorrente}" class="d-flex bg-panna rounded-0 my-3">
      <div>
        <img src="{{opera.foto[0].file != '' ? opera.foto[0].file : '../../../../../assets/img/logo.png'}}" class="img-fluid" alt="Immagine lotto">
      </div>

      <div class="p-3">
        <p class="m-0">{{opera.titolo}}</p>
        <p class="m-0">{{opera.autore.nome}} {{opera.autore.cognome}}</p>
        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae soluta similique, a, earum facilis, consequatur laboriosam quas ipsum quisquam quos assumenda perspiciatis! Ut eveniet, eligendi corrupti officia assumenda asperiores aperiam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate provident exercitationem itaque sunt sequi, soluta magnam neque aut ratione atque, iure ab! Ut laudantium perferendis similique non accusantium dolorem dolores? Lorem ipsum, dolor sit amet consectetur adipisicing elit. At delectus perspiciatis sint recusandae error? Ipsa, commodi. Mollitia qui amet, laudantium, accusantium rerum porro est dolore placeat, eaque sequi repellendus enim. {{opera.descrizione}}</p>
        <p class="m-0">{{opera.tipo | capitalcase}}</p>
        <p class="m-0">{{opera.tecnica | capitalcase}}</p>
        <p class="m-0">{{opera.anno}}</p>
      </div>
    </div> -->

    <div *ngFor="let opera of listaOpere | paginate: {itemsPerPage: 9, currentPage: paginaCorrente}" class="card mb-3">
      <div class="row g-0">
        <div class="col-3">
          <img src="{{opera.foto[0].file != '' ? opera.foto[0].file : '../../../../../assets/img/logo.png'}}" class="img-fluid rounded-start" alt="Immagine lotto" style="max-width: 200px">
        </div>
        <div class="col-9">
          <div class="card-body">
            <h5 class="card-title">{{opera.titolo}}</h5>
            <p class="m-0">Autore: {{opera.autore.nome}} {{opera.autore.cognome}}</p>
            <p class="m-0">Descrizione: {{opera.descrizione.length > 50 ? opera.descrizione.slice(0, 300) + '...' : opera.descrizione}}</p>
            <p class="m-0">Tipo: {{opera.tipo | capitalcase}}</p>
            <p class="m-0">Tecnica: {{opera.tecnica | capitalcase}}</p>
            <p class="m-0">Anno: {{opera.anno}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center my-5">
      <pagination-controls (pageChange)="paginaCorrente = $event"></pagination-controls>
    </div>
  </div>
</div>


<app-footer></app-footer>
